[package]
name = "ocean"
version = "0.1.0"
edition = "2024"

[dependencies]
bevy = { version = "0.18", default-features = false, features = [
    "bevy_asset",
    "bevy_color",
    "bevy_mesh",
    "bevy_pbr",
    "bevy_render",
] }
